.LetterBox{
    all: unset;
    height: 3em;
    width: 3em;
    font-size: 1.5em;
    background-color: #346b31;
    text-align: center;
    font-weight: bold;
    line-height: 3em;
    text-transform: uppercase;
}

.used{
    background-color: #676967;
}

.guess{
    background-color: #000000;
}